server:
  port: 8085

spring:
  application:
    name: invoice-service
  data:
    mongodb:
      uri: mongodb://mongodb:27017/invoice_db

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
  instance:
    prefer-ip-address: true
