server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/users/**
        - id: product-service
          uri: http://product-service:8082
          predicates:
            - Path=/api/products/**
        - id: order-service
          uri: http://order-service:8083
          predicates:
            - Path=/api/orders/**
        - id: production-service
          uri: http://production-service:8084
          predicates:
            - Path=/api/production/**
        - id: invoice-service
          uri: http://invoice-service:8085
          predicates:
            - Path=/api/invoices/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
