server:
  port: 8084

spring:
  application:
    name: production-service
  data:
    mongodb:
      uri: mongodb://mongodb:27017/production_db

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
  instance:
    prefer-ip-address: true
